/*==principal sheet*/
@import "./sass/base.scss" ;
@import "./sass/layouts/header" ;
@import "./sass/layouts/location.scss";
@import "./sass/layouts/reservation";

$color-primary: #9356dc;

.tuto{
  padding: 20px;
  counter-reset: steps;
  &__element{
    border-radius: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 13%);
    &__content{
      display: flex;
      gap: 20px;
      padding-left: 30px;
    }
    &::before{
      border-radius: 100px;
      counter-increment: steps;
      content: counter(steps) " ";
      background-color: $color-primary;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: 10px;
    }
    &:hover{
      background-color: lighten($color: $color-primary, $amount: 36%);
        i{
          color: $color-primary;
        }
    }
  }
  &__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__text{
    font-weight: bold;
  }
  & i{
    color: #7e7e7e;
  } 
}
