/*==principal sheet*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

main {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.page-sizing {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  height: 110px;
  align-items: center;
}
.header img {
  width: 60%;
  max-width: 250px;
}
.header--restaurant {
  flex-direction: row-reverse;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}
.header--restaurant img {
  height: 40px;
}

.location {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  gap: 10px;
  border-top: 2px solid lightgrey;
  box-shadow: 0 -5px 5px -5px lightgrey;
  height: 65px;
  align-items: center;
}

.reservation {
  padding: 20px;
  text-align: center;
}
.reservation h1 {
  font-weight: bold;
  margin: 0;
}
.reservation p {
  font-weight: 300;
}
.reservation button {
  padding: 0;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: none;
  font-size: 15px;
  box-shadow: 0 1px 2px 1px #686868;
  cursor: pointer;
  height: 40px;
  width: 200px;
}

.tuto {
  padding: 20px;
  counter-reset: steps;
}
.tuto__element {
  border-radius: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.13);
}
.tuto__element__content {
  display: flex;
  gap: 20px;
  padding-left: 30px;
}
.tuto__element::before {
  border-radius: 100px;
  counter-increment: steps;
  content: counter(steps) " ";
  background-color: #9356dc;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 10px;
}
.tuto__element:hover {
  background-color: #f4eefc;
}
.tuto__element:hover i {
  color: #9356dc;
}
.tuto__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tuto__text {
  font-weight: bold;
}
.tuto i {
  color: #7e7e7e;
}

@media screen and (min-width: 1024px) {
  .tuto__title {
    margin-left: 30px;
  }
  .tuto__list {
    justify-content: space-evenly;
    flex-direction: initial;
  }
  .tuto__element {
    width: 30%;
  }
  .tuto__element:before {
    left: initial;
    margin-left: -10px;
  }
}
.restaurants {
  padding: 20px 20px 40px 20px;
  background-color: #f6f6f6;
}
.restaurants img {
  height: 200px;
  width: 100%;
}
.restaurants__card {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  text-decoration: none;
  background-color: white;
  color: black;
}
.restaurants h3 {
  margin: 0;
}
.restaurants img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 36px;
}
.restaurants__new {
  position: absolute;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #1b6150;
  right: 35px;
  margin-top: 10px;
  padding: 8px;
}
.restaurants__description {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 88%;
  justify-content: space-between;
}
.restaurants__heart .card__like.fa-2x.fa-heart.far.menu__like.menu__like--noBg {
  position: absolute;
}
.restaurants__heart .card__like.fa-2x.fa-heart.fas.menu__like.menu__like--noBg {
  color: transparent;
}
.restaurants__heart:hover .card__like.fa-2x.fa-heart.fas.menu__like.menu__like--noBg {
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .restaurants__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 36px;
  }
  .restaurants__description {
    width: 45%;
  }
}
.footer {
  padding: 20px;
  background-color: #353535;
  color: white;
}
.footer__logo {
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
}
.footer__list {
  font-family: "roboto", sans-serif;
  padding: 0;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style-type: none;
  padding-bottom: 2px;
}

@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.image-resto {
  max-width: 100%;
  height: 324px;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.menu__list {
  padding: 20px;
}
.menu__head {
  display: flex;
  font-family: "shrikhand";
  justify-content: space-between;
  align-items: baseline;
  padding-inline: 50px;
}
.menu__content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.menu__element {
  border-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menu__element:nth-child(1) {
  animation-delay: 300ms;
}
.menu__element:nth-child(2) {
  animation-delay: 600ms;
}
.menu__element:nth-child(3) {
  animation-delay: 900ms;
}
.menu__element:hover .menu__confirmation {
  margin-right: 0;
}
.menu__element:hover .menu__icon i {
  animation: quarterspin 0.5s ease-in-out;
}
.menu__dish, .menu__text, .menu__detail {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__confirmation {
  background-color: #99E2D0;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  height: 60px;
  border-radius: 0 10px 10px 0;
  margin-right: -64px;
}
.menu__subtitle {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 4px;
  font-weight: 400;
}
.menu__subtitle:after {
  content: "";
  width: 45px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu__price {
  font-weight: bold;
  padding: 10px;
}
.menu__text {
  padding: 10px;
}
.menu__icon {
  border-radius: 100px;
  background-color: white;
  color: #99E2D0;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__wrap {
  display: flex;
  align-items: center;
}
.menu__heart .card__like.fa-2x.fa-heart.far.menu__like.menu__like--noBg {
  position: absolute;
}
.menu__heart .card__like.fa-2x.fa-heart.fas.menu__like.menu__like--noBg {
  color: transparent;
}
.menu__heart:hover .card__like.fa-2x.fa-heart.fas.menu__like.menu__like--noBg {
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .menu__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .menu__section {
    width: 30%;
  }
}
.button {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button__command {
  padding: 0;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: none;
  box-shadow: 0 1px 2px 1px #686868;
  cursor: pointer;
  height: 45px;
  font-size: 17.5px;
  width: 140px;
}

@media screen and (min-width: 1024px) {
  .tuto__title {
    margin-left: 30px;
  }
  .tuto__list {
    justify-content: space-evenly;
    flex-direction: initial;
  }
  .tuto__element {
    width: 30%;
  }
  .tuto__element:before {
    left: initial;
    margin-left: -10px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 36px;
  }
  .restaurants__description {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .menu__section {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
