.location {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    gap: 10px;
    border-top: 2px solid lightgrey;
    box-shadow: 0 -5px 5px -5px lightgrey;
    height: 65px;
    align-items: center;
  }
  