$color-tertiary: #99E2D0;
$color-secondary: #ff79da;

.restaurants{
  padding: 20px 20px 40px 20px;
  background-color: #f6f6f6;
  & img{
    height: 200px;
    width: 100%;
  }
  &__card{
    width: 100%;
    height: 220px;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    position: relative;
  }
  & h3{
    margin: 0;
  }
  & img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 36px;
  }
  &__new{
    position: absolute;
    border-radius: 2px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50);
    right: 35px;
    margin-top: 10px;
    padding: 8px;
  }
  &__description{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__heart{
    & .card__like.fa-2x.fa-heart.far.menu__like.menu__like--noBg{
      position: absolute;
    }
    & .card__like.fa-2x.fa-heart.fas.menu__like.menu__like--noBg{
      color: transparent;
    }
    &:hover{
      & .card__like.fa-2x.fa-heart.fas.menu__like.menu__like--noBg{
        background-image: linear-gradient($color-primary,$color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        position: relative;
      } 
    }
  }
}

@media screen and (min-width: 1024px) {
  .restaurants{
    &__list{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 36px;
      grid-row-gap: 36px;
    }
  }
}
